*
{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body
{
	background-image: url("bg.jpg");
	margin: 10px auto;
	width: 1200px;
	height: 100%;
	color: #FFFFFF;
}
#logo
{
	position: relative;
	left: 450px;
	width: 300px;
	margin-bottom: 20px;
}
nav ul
{
	list-style-type: none;
	width: 750px;
	position: relative;
	left: 241px;
	margin-bottom: 20px;
}
nav li
{
	display: inline-block;
	margin-left: 12px;
}
nav a
{
	text-align: center;
	display: block;
	font-size: 1.125em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #87CEFA;
	text-decoration: none;
	padding: 3px;
	width: 120px;
}
nav a:link,nav a:visited
{
	background-color: black;
}
nav a:hover,nav a:active
{
	background-color: #333333;
	color: #00BFFF;
}
article
{
	line-height:180%;
	font-size: 1em;
	font-family: Arial, sans-serif;
}
article h1
{
	font-size: 2em;
	margin: 0.67em 0;
	font-weight: bold;
}
article h2
{
	font-size: 1.5em;
	margin: 0.83em 0;
	font-weight: bold;
}
article h3
{
	font-size: 1.17em;
	margin: 1em 0;
	font-weight: bold;
	color: #FFC85A;
}
article h4
{
	margin: 1.33em 0;
	font-weight: bold;
}
article p
{
	margin: 1em 0;
}
article a:link,article a:visited
{
	color: #FFFFFF;
}
article a:hover,article a:active
{
	color: #00BFFF;
}
span.center
{
	text-align: center;
}
hr.main
{
	border: 0;
	height: 4px;
	margin: 1em 0;
	color: #87CEFA;
	background-color: #87CEFA;
}
hr.text
{
	border-style: inset;
	border-width: 1px;
	margin: 1em 0;
	color: #FFFFFF;
	background-color: #FFFFFF;
}
footer
{
	font-family: "Palatino Linotype", serif;
	line-height: 100%;
}
footer a
{
	text-decoration: none;
}
#imp
{
	color: #FFFFFF;
	margin-left: 1100px;
	text-decoration: underline;
}
#imp:hover,#imp:active
{
	color: #00BFFF;
}
div.list ul
{
	list-style-position: inside;
}
div.list ol
{
	list-style-position: inside;
}
div.list ul ul
{
	padding-left: 40px;
}