*
{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body
{
	background-image: url("images/bg.jpg");
	margin: 10px auto;
	width: 1200px;
	height: 100%;
	color: #FFFFFF;
}
#logo
{
	position: relative;
	left: 450px;
	width: 300px;
	margin-bottom: 20px;
}
nav ul
{
	list-style-type: none;
	width: 850px;
	position: relative;
	left: 175px;
	margin-bottom: 20px;
}
nav li
{
	display: inline-block;
	margin-left: 12px;
}
nav a
{
	text-align: center;
	display: block;
	font-size: 1.125em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #87CEFA;
	text-decoration: none;
	padding: 3px;
	width: 120px;
	background-color: black;
}
nav a:link,nav a:visited
{
	background-color: black;
}
nav a:hover,nav a:active
{
	background-color: #333333;
	color: #00BFFF;
}
article
{
	line-height:180%;
	font-size: 1em;
	font-family: Arial, sans-serif;
}
article h1
{
	font-size: 2em;
	margin: 0.67em 0;
	font-weight: bold;
	font-family: Rockwell, serif;
}
article h2
{
	font-size: 1.5em;
	margin: 0.83em 0;
	font-weight: bold;
	font-family: Rockwell, serif;
}
article h3
{
	font-size: 1.17em;
	margin: 1em 0 0.67em 0;
	font-weight: bold;
	color: #FFC85A;
	font-family: Rockwell, serif;
}
article h4
{
	margin: 1.33em 0;
	font-weight: bold;
	font-family: Rockwell, serif;
}
article p
{
	margin: 1em 0;
}
article a:link,article a:visited
{
	color: #FFFFFF;
}
article a:hover,article a:active
{
	color: #00BFFF;
}
div.center
{
	text-align: center;
}
hr.main
{
	border: 0;
	height: 4px;
	margin: 1em 0;
	color: #87CEFA;
	background-color: #87CEFA;
}
hr.text
{
	border-style: inset;
	border-width: 1px;
	margin: 1em 0;
	color: #FFFFFF;
	background-color: #FFFFFF;
}
footer
{
	font-family: "Palatino Linotype", serif;
	line-height: 100%;
}
footer a
{
	text-decoration: none;
}
.link
{
	color: #FFFFFF;
	margin-left: 1100px;
}
.link:hover,.link:active
{
	color: #00BFFF;
	text-decoration: underline;
}
div.list ul
{
	list-style-position: inside;
}
div.list ol
{
	list-style-position: inside;
}
div.list ul ul
{
	padding-left: 40px;
}
.button
{
	cursor: pointer;
	border: 1px solid gray;
	padding: 2px;
	margin: 15px 0 0 8.875em;
	color: #87CEFA;
	background-color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.125em;
	font-weight: bold;
	width: 10.875em;
}
.button:hover
{
	color: #00BFFF;
	background-color: #333333;
}
span.timestamp
{
	font-style: italic;
}
span.announcer
{
	font-weight: bold;
	margin-right: 12px;
}
div.phplogin
{
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 10px;
	text-align: center;
}
fieldset {
	display: inline-block;
	text-align: left;
	border: 1px solid #87CEFA;
	margin: 0 auto;
	padding: 15px;
	border-radius: 6px;
	margin-bottom: 15px;
}
fieldset.playerCount{
	position: absolute;
	margin-left: 754px;
	border-radius: 4px;
	padding: 10px;
	border: 2px solid #87CEFA;
	margin-top: 98px;
	font-size: 0.75em;
}
legend {
	font-size: 1.2em;
	font-weight: bold;
}
label {
	display: block;
	vertical-align: middle;
	bottom: 1px;
}
input[type=text], input[type=password], input[type=submit], input[type=email] {
	margin-bottom: 15px;
	padding: 4px;
	font-size: 13px;
	line-height: 16px;
	width: 240px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=submit] {
	display: block;
	width: 250px;
	background-color: #4c8ffc;
	border: 1px solid #2f5bb7;
	color: #fff;
	cursor: pointer;
	margin-bottom: 5px;
}
input[type=checkbox] {
	margin-bottom: 15px;
}
.login_error {
	background: grey url(phplogin/views/error.png) no-repeat center left;
	border: 1px solid #f36971;
	padding: 5px 8px 5px 24px;
	display: inline-block;
	*display: inline; /* display:inline-block is not supported by IE7 */
	border-radius: 3px;
	margin-bottom: 7px;
}
.login_message {
	background: #dff0d8 url(phplogin/views/info.png) no-repeat center left;
	border: 1px solid #d0e5ca;
	color: #468847;
	padding: 5px 8px 5px 24px;
	display: inline-block;
	*display: inline; /* display:inline-block is not supported by IE7 */
	border-radius: 3px;		
	margin-bottom: 7px;
}